.hpcp-comparision-title {
  text-align: center;
  margin-bottom: 3rem;
}

.hpcp-comparision-title h2 {
  display: inline-flex;
  align-items: center;
}

.hpcp-comparision-selector {
  display: flex;
  justify-content: center;
}

.instrument-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 2列，稳 */
  gap: 1rem;
  flex: 1;   /* 🔥 关键：填满 stage */
  grid-auto-rows: 1fr;
}

.instrument-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;   /* 🔥 用 gap 控制间距 */
}

.instrument-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.play-button {
  padding: 0.3rem 0.8rem;
  font-size: 0.75rem;

  color: #fff;
  background: linear-gradient(145deg, #444, #2f2f2f);

  border: 1px solid #555;
  border-radius: 6px;

  cursor: pointer;

  /* 关键：动效 */
  transition: all 0.15s ease;

  /* 初始轻微阴影 */
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.play-button:hover {
  background: linear-gradient(145deg, #555, #3a3a3a);

  transform: translateY(-1px);

  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.play-button:active {
  transform: translateY(1px);

  box-shadow: 0 1px 2px rgba(0,0,0,0.6);

  background: linear-gradient(145deg, #2f2f2f, #444);
}

.play-button.playing {
  background: linear-gradient(145deg, #ff6b6b, #d64545);
  border-color: #ff6b6b;
}

.instrument-canvas {
  position: relative;
  width: 100%;
  height: 150px;     /* 🔥 固定高度，先稳定 */
  overflow: hidden;
}

.hpcp-comparision {
  position: relative;   /* 参考定位，子元素 sticky 以此为边界 */
  margin-bottom: 20vh;
  outline: 3px solid yellow;
}

.hpcp-comparision-stickyContainer {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

#hpcp-comparision-container {
  width: 75%;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(245, 85, 85, 0.5);
  overflow: hidden;
}

/* 左侧图示区 */
.hpcp-comparision-left{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 右侧文字区 */
.hpcp-comparision-right{
  top: 0;
  width: 25%;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

.hpcp-comparision-stage{
  width: 80%;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  /* gap: 1.2rem; */
  margin-top: 1vh;
  height: 100%;
}

.hpcp-comparision-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.hpcp-comparision-playhead{
  position: absolute;
  top: 0;
  bottom: 0;

  width: 2px;
  background: white;

  left: 0;
}

.hpcp-comparision-text{
  font-size: 1rem;
  line-height: 1.6;
  max-width: 320px;
  color: white;
}

.triggerStep-hpcp-comparision {
  height: 40vh;
  background: rgba(5, 231, 16, 0.5);
  margin-bottom: 50vh;
}



