.intro {
  width: 100%;
  height: auto;
  color: #a0c4ff;
  position: relative;
  margin-bottom: 20vh;
}

.sticky-container {
  position: relative;
  height: 100vh; /* 确保容器有高度 */
}

.sticky-headline {
  position: absolute;
  top: 20%; /* 根据需要调整垂直位置 */
  left: 0;
  right: 0;
  /* 如果需要水平居中 */
  text-align: center;
}

.scroll-intro {
  position: absolute;
  bottom: 20%; /* 根据需要调整垂直位置 */
  left: 0;
  right: 0;
  text-align: center;
  transition: opacity 0.3s ease;
}

.scroll-intro.fade-in {
  opacity: 1;
}

.scroll-intro.fade-out {
  opacity: 0;
  pointer-events: none;
}

.trigger-step {
  background: rgba(177, 223, 24, 0.5);
  height: 50vh;
  margin-top: 20vh;
}


