.nebula {
  position: relative;
  margin-bottom: 20vh;
  outline: 3px solid blue;
  height: 1200vh;
}

.nebula-stickyContainer {
  position: sticky;
  top: 0;

  /* 新增 ↓ 保证占满一屏 */
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#nebula-container {
  width: 100%;
  height: 100%; /* ✅ 关键：跟随 sticky container */
  position: relative;
}

